<a href="" class="list-group-item clearfix" (click)="onSelected()">
	<div class="pull-left">
		<!-- for name/description, we're using string interpolation -->
		<h4 class="list-group-item-heading">{{ recipe.name }}</h4>
		<p class="list-group-item-text">{{ recipe.description }}</p>
	</div>
	<span class="pull-right">
		<!-- for src, we're using property binding instead of string interpolation! -->
		<img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
	</span>
</a>